/*榛樿閾惰*/
.bank{
	background:#fff url(../../static/imgs/bank/Bank.png) no-repeat 10px 10px;
    background-size: 50px 50px;
}

/*鍐滄潙淇＄敤绀捐仈鍚堢ぞ*/
.rcc{
	background:#fff url(../../static/imgs/bank/RCC.png) no-repeat 10px 10px;
    background-size: 50px 50px;
}
/*閭斂鍌ㄨ搫閾惰*/
.psbc{
	background:#fff url(../../static/imgs/bank/PSBC.png) no-repeat 10px 10px;
    background-size: 50px 50px;
}
/*宸ュ晢閾惰*/
.icbc{
	background:#fff url(../../static/imgs/bank/ICBC.png) no-repeat 10px 10px;
    background-size: 50px 50px;
}
/*鍐滀笟閾惰*/
.abc{
	background:#fff url(../../static/imgs/bank/ABC.png) no-repeat 10px 10px;
    background-size: 50px 50px;
}
/*涓浗閾惰*/
.boc{
	background:#fff url(../../static/imgs/bank/BOC.png) no-repeat 10px 10px;
    background-size: 50px 50px;
}

/*恒丰银行*/
.hfb{
    background:#fff url(../../static/imgs/bank/HFB.png) no-repeat 10px 10px;
    background-size: 50px 50px;
}

/*寤鸿閾惰*/
.ccb{
	background:#fff url(../../static/imgs/bank/CCB.png) no-repeat 10px 10px;
    background-size: 50px 50px;
}
/*浜ら�閾惰*/
.bcm{
	background:#fff url(../../static/imgs/bank/BCM.png) no-repeat 10px 10px;
    background-size: 50px 50px;
}
/*涓俊閾惰*/
.zxb{
	background:#fff url(../../static/imgs/bank/ZXB.png) no-repeat 10px 10px;
    background-size: 50px 50px;
}
/*鍏夊ぇ閾惰*/
.ceb{
	background:#fff url(../../static/imgs/bank/CEB.png) no-repeat 10px 10px;
    background-size: 50px 50px;
}
/*鍗庡閾惰*/
.hxb{
	background:#fff url(../../static/imgs/bank/HXB.png) no-repeat 10px 10px;
    background-size: 50px 50px;
}
/*姘戠敓閾惰*/
.cmbc{
	background:#fff url(../../static/imgs/bank/CMBC.png) no-repeat 10px 10px;
    background-size: 50px 50px;
}
/*骞垮彂閾惰*/
.gdb{
	background:#fff url(../../static/imgs/bank/GDB.png) no-repeat 10px 10px;
    background-size: 50px 50px;
}
/*骞冲畨閾惰*/
.pab{
	background:#fff url(../../static/imgs/bank/PAB.png) no-repeat 10px 10px;
    background-size: 50px 50px;
}
/*鎷涘晢閾惰*/
.zsb{
	background:#fff url(../../static/imgs/bank/ZSB.png) no-repeat 10px 10px;
    background-size: 50px 50px;

}
/*鍏翠笟閾惰*/
.cib{
	background:#fff url(../../static/imgs/bank/CIB.png) no-repeat 10px 10px;
    background-size: 50px 50px;

}
/*娴﹀彂閾惰*/
.spdb{
	background:#fff url(../../static/imgs/bank/SPDB.png) no-repeat 10px 10px;
    background-size: 50px 50px;

}
/*娴欏晢閾惰*/
.czb{
	background:#fff url(../../static/imgs/bank/CZB.png) no-repeat 10px 10px;
    background-size: 50px 50px;

}
/*涓婃捣閾惰*/
.shb{
	background:#fff url(../../static/imgs/bank/SHB.png) no-repeat 10px 10px;
    background-size: 50px 50px;

}
/*鍖椾含閾惰*/
.bob{
	background:#fff url(../../static/imgs/bank/BOB.png) no-repeat 10px 10px;
    background-size: 50px 50px;

}
/*鍚夋灄閾惰*/
.jlb{
	background:#fff url(../../static/imgs/bank/JLB.png) no-repeat 10px 10px;
    background-size: 50px 50px;

}
/*瀹佹尝閾惰*/
.nbb{
	background:#fff url(../../static/imgs/bank/NBB.png) no-repeat 10px 10px;
    background-size: 50px 50px;

}
/*骞垮窞閾惰*/
.gzb{
	background:#fff url(../../static/imgs/bank/GZB.png) no-repeat 10px 10px;
    background-size: 50px 50px;

}
/*姹夊彛閾惰*/
.hkb{
	background:#fff url(../../static/imgs/bank/HKB.png) no-repeat 10px 10px;
    background-size: 50px 50px;

}
/*澶ц繛閾惰*/
.dlb{
	background:#fff url(../../static/imgs/bank/DLB.png) no-repeat 10px 10px;
    background-size: 50px 50px;

}
/*鏉窞閾惰*/
.hzb{
	background:#fff url(../../static/imgs/bank/HZB.png) no-repeat 10px 10px;
    background-size: 50px 50px;

}
/*鍗椾含閾惰*/
.njb{
	background:#fff url(../../static/imgs/bank/NJB.png) no-repeat 10px 10px;
    background-size: 50px 50px;

}
/*涓滆帪閾惰*/
.dgb{
	background:#fff url(../../static/imgs/bank/DGB.png) no-repeat 10px 10px;
    background-size: 50px 50px;

}
/*澶╂触閾惰*/
.tjb{
	background:#fff url(../../static/imgs/bank/TJB.png) no-repeat 10px 10px;
    background-size: 50px 50px;

}
/*寰藉晢閾惰*/
.hsb{
	background:#fff url(../../static/imgs/bank/HSB.png) no-repeat 10px 10px;
    background-size: 50px 50px;

}
/*閲嶅簡閾惰*/
.cqb{
	background:#fff url(../../static/imgs/bank/CQB.png) no-repeat 10px 10px;
    background-size: 50px 50px;

}
/*鍝堝皵婊ㄩ摱琛�/
.hebb{
	background:#fff url(../../static/imgs/bank/HEBB.png) no-repeat 10px 10px;
    background-size: 50px 50px;

}
/*鍖呭晢閾惰*/
.bsb{
	background:#fff url(../../static/imgs/bank/BSB.png) no-repeat 10px 10px;
    background-size: 50px 50px;

}
/*榫欐睙閾惰*/
.ljb{
	background:#fff url(../../static/imgs/bank/LJB.png) no-repeat 10px 10px;
    background-size: 50px 50px;

}
/*姹熻嫃閾惰*/
.jsb{
	background:#fff url(../../static/imgs/bank/JSB.png) no-repeat 10px 10px;
    background-size: 50px 50px;

}
/*鏄嗕粦閾惰*/
.klb{
	background:#fff url(../../static/imgs/bank/KLB.png) no-repeat 10px 10px;
    background-size: 50px 50px;

}
/*涓婃捣鍐滃晢閾惰*/
.shnsb{
	background:#fff url(../../static/imgs/bank/SHNSB.png) no-repeat 10px 10px;
    background-size: 50px 50px;

}
/*骞垮窞鍐滄潙鍟嗕笟閾惰*/
.gzns{
	background:#fff url(../../static/imgs/bank/GZNS.png) no-repeat 10px 10px;
    background-size: 50px 50px;

}
/*閲嶅簡鍐滄潙鍟嗕笟閾惰*/
.cqns{
	background:#fff url(../../static/imgs/bank/CQNS.png) no-repeat 10px 10px;
    background-size: 50px 50px;
}
/*鍖椾含鍐滄潙鍟嗕笟閾惰*/
.bjns{
	background:#fff url(../../static/imgs/bank/BJNS.png) no-repeat 10px 10px;
    background-size: 50px 50px;

}
/*鏌冲窞閾惰*/
.lzb{
	background:#fff url(../../static/imgs/bank/LZB.png) no-repeat 10px 10px;
    background-size: 50px 50px;

}

