html, body{
	padding: 0;
	margin: 0;
}

body{
	background: #F8F8F8;
	font-family: Arial, Helvetica, Verdana;
	line-height: 22px;
	color: #666;
	position: relative;
	-webkit-text-size-adjust: none;
}

body *{
	text-shadow: none;
}

.clear{
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0;
}

.header{
	margin: 20px 0 5px 0;
	font-size:120%;
	text-align:center;
}

.mid{
	margin:5px 0 10px 0;
	font-size:100%;
	color:#999;
	text-align:center;
}

.amount{
	height:80px;
	line-height:80px;
	padding:0 20px;
	font-size:200%;
	text-align:center;
	background:#fff;
	color: #ff6c00;

	/*border-top:solid 1px #e5e5e5;
	border-bottom:solid 1px #e5e5e5;*/
}

.footer{
	height:30px;
	line-height:30px;
	font-size:80%;
	color:#ccc;
	text-align:center;
}

.tip{
	height:30px;
	line-height:30px;
	font-size:80%;
	color:#999;
	text-align:right;
	padding-right:21px;
}


.keypad{
	position:fixed;
	left:0;
	right:0;
	bottom:0;
}

.keypad .message{
	padding:5px 10px;
	color:#e35b5a;
	font-size:80%;
}

.keypad .col{
	float:left;
	width:25%;
}

.keypad .col .key{
	margin:1px 0 0 1px;
	font-size:150%;
	text-align:center;
}

.keypad .col .digit{
	height:60px;
	line-height:60px;
	font-size:150%;
	color:#666;
	background:#f6f6f8;
}

.keypad .col .point{
	height:60px;
	line-height:60px;
	font-size:150%;
	color:#666;
	background:#f6f6f8;
}

.keypad .col .back{
	height:60px;
	line-height:60px;
	font-size:120%;
	color:#666;
	background:#ccc;
}

.keypad .col .empty{
	height:121px;
	line-height:121px;
	font-size:120%;
	font-weight:bold;
	color:#85c7f5;
	background:#f6f6f8;
}

.keypad .col .enter{
	height:121px;
	line-height:121px;
	font-size:120%;
	font-weight:bold;
	color:#85c7f5;
	background:#008ced;
}

.keypad .col .active{
	background:#ccc;
}
